<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script defer src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Todo</title>
</head>

<body class="todo-list todo-form ">
    <header class="bg-success py-2 text-end">
        <div class="container d-flex justify-content-between">
            <h3 class="text-warning">
                Full Stack Todo App
            </h3>
           <div>
            <span class="text-decoration-none text-white p-1 m-1 rounded">
                <%=user[0].name %> 
            </span>
            <a href="/logout" >
                <button class="btn btn-warning">Logout</button>
            </a>
           </div>
        </div>
    </header>
    <div class="container card p-4 my-4 add-todo" style=" max-width: 800px;">
        <h4 class="text-center  rounded p-1 mb-4">Add a new task</h4>
        <form id="form" action="/addnewtask" method="post" >
            <div class="d-flex gap-2 align-items-center">
                <input type="text" name="title" placeholder="Task Title" class="form-control" id="title">
                <select class="form-control" id="status" name="priority">
                    <option disabled selected>--Select Priority--</option>
                    <option name='High' value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <input type="date" name="date" id="date" class="form-control" id="date">
                <input type="hidden" name="taskId" id="taskId">
                <button type="submit" id="submit" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>

    <div class="display-task container mt-5  pt-3 ">
        <div>
            <h4 class="text-center  rounded p-1 text-light">Your task list</h4>
            <table class="table table-striped table-bordered table-hover">
                <% if(todos?.length>0) {%>
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% todos.forEach((todo, index)=> { %>
                            <tr id="<%=todo._id  %>">
                                <td>
                                    <%= index +1 %>
                                </td>
                                <td class="title">
                                    <%= todo.title %>
                                </td>
                                <td class="priority">
                                    <%= todo.priority %>
                                </td>
                                <td class="status">
                                    <%= todo.status %>
                                </td>
                                <td class="date">
                                    <%= todo.date.toDateString() %>
                                </td>
                                <td>
                                    <button data-id="<%=todo._id%>" class="btn btn-warning">Edit</button>
                                    <a href="/deletetask/<%=todo._id%>" class="btn btn-danger">Delete</a>
                                    <a href="/changestatus/<%=todo._id%>" class="btn btn-success">Change Status</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <% } else { %>
                        <h4 class="text-warning text-center p-4">You didn't add any tasks</h4>
                        <% } %>
            </table>
        </div>
    </div>
</body>

</html>